body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
}

.github-icon-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
}

.github-icon {
    display: block;
    width: 75%;
    height: 75%;
    position: relative;
    color: white;
    border-radius: 50%;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}
